@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    max-height: 100vh;
    font-weight: 400;
}

.navbar {
    padding: 1rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
    position: sticky;
}

.navlinks ul {
    display: flex;
    gap: 15px;
    text-align: center;
}

.navlinks li {
    list-style-type: none;
}

.navlinks a {
    text-decoration: none;
    padding: 5px;
    color: #fff;
}

.navlinks a:hover {
    color: #d6b335;
}

.hero {
    max-height: 92vh;
    position: relative;
    margin: 4.5rem 0;
    animation: fadeInPage 1s ease-in-out;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes fadeInPage {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.nav-button a {
    color: #d6b335;
}

.main {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    align-items: center;
    column-gap: 50px;
    padding: 1rem 5rem;
}

.about-me {
    padding: 10px;
}

.about-me h1 {
    font-size: 3rem;
}

.about-me h2 {
    font-size: 2rem;
    color: #222222;
}

.about-me p {
    font-weight: normal;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 0;
    line-height: 1.5;
    color: #444444;
}

.text-warning {
    color: #d6b335;
}

.read-btn {
    padding: 13px 20px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #d6b335;
    color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.read-btn:hover {
    background-color: #fff;
    color: #d6b335;
    border: 2px solid #d6b335;
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}

.pro-image {
    height: 500px;
    width: 400px;
    align-items: center;
    background: radial-gradient(circle, rgba(255, 208, 0, 0.1), rgba(4, 58, 122, 0.6));
    border: 5px solid #d6b335;
    overflow: hidden;
    border-radius: 25px;
}

.pro-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}